<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section >
<div class="container">
<div  class="row">
<div class="col-md-6 offset-md-3">
<div class="my-card mt-2">


<div th:if="${session.message}" class="alert alert-primary" th:classappend="${session.message.type}" role="alert">
  <p class="text-center" th:text="${session.message.content}"></p>
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>

<div class="container text-center">

<img src="" style="width: 70px" th:src="@{/img/membership.png}"> 
</div>
<h1 class="text-center">Register Here!!</h1>

<form  novalidate action="" th:action="@{/do_register}" th:object="${user}" method="post">

<div class="mb-3" >
    <label for="name_field" class="form-label">Your Name</label>
    <input th:value="${user.name}"  name="name" type="name" class="form-control is-invalid"
     th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" id="name_field" 
     aria-describedby="emailHelp" placeholder="Enter here" required>
   <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
      
    </div>
  </div>
  
  <!-- Email text field -->
  
  <div class="mb-3">
    <label for="email_field" class="form-label">Your Email</label>
    <input th:value="${user.email}" name="email" type="email" class="form-control" id="name_field" aria-describedby="emailHelp" placeholder="Enter here" required>
  </div>
  
    <div class="mb-3">
    <label for="email_field" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password_field" aria-describedby="emailHelp" placeholder="Enter here" required>
   
  </div>
  
  <div class="form-group">
  <textarea th:value="${user.about}" rows="4" name="about" placeholder="Enter something here" class="form-control"></textarea>
  
  </div>
  <br>
  
  <div class="form-group form-check ">
  
  <input type="checkbox" name="agreement" class="form-check-input" id="agreement">
  <label>accept terms and condition</label>
  </div>
  <div class="container text-center">
  
  <button type="submit" class="btn bg-primary btn-block text-white ">
  Submit
 
  </button>
   <button type="reset" class="btn bg-warning btn-block  text-white  ">
  Reset
  </button>
  
  </div>
  
  
  
</form>

</div>
</div>


</div>
</div>

</section>

</body>
</html>